<h1>Добро пожаловать</h1>
<p>Добро пожаловать в StoryBooks 1.0.0</p>
<p>Публикуйте ваши истории о лучших или худших моментах жизни и выбирайте для кого вы их хотите показать, всему миру или только для вас как личный дневник</p>
{{#if user}}
{{else}}
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}
